<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="personelizintakip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="192.168.0.27_personeldb_Connection" connectionString="XpoProvider=MySql;server=192.168.0.27;port=3359;user id=; password=; database=personeldb;persist security info=true;CharSet=utf8;" />
        <add name="192.168.0.27_personeldb_Connection 1" connectionString="XpoProvider=MySql;server=192.168.0.27;port=3359;user id=; password=; database=personeldb;persist security info=true;CharSet=utf8;" />
        <add name="192.168.0.27_personeldb_Connection 2" connectionString="XpoProvider=MySql;server=192.168.0.27;port=3359;user id=; password=; database=personeldb;persist security info=true;CharSet=utf8;" />
        <add name="192.168.0.27_personeldb_Connection 3" connectionString="XpoProvider=MySql;server=192.168.0.27;port=3359;user id=; password=; database=personeldb;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
    <userSettings>
        <personelizintakip.Properties.Settings>
            <setting name="SavedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
        </personelizintakip.Properties.Settings>
    </userSettings>
</configuration>